/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
}

/* Base styles for the entire page */
html {
  font-size: 16px;
  background-color: #0e0f0f;
  min-height: 100%;
  position: relative;
  margin: 0;
}

body {
  margin-bottom: 60px;
  background-color: #0e0f0f;
}

footer {
  background: rgb(162, 28, 87);
  background: linear-gradient(
    90deg,
    rgba(162, 28, 87, 1) 0%,
    rgba(59, 99, 145, 1) 100%
  );
}

/* Heading styles */
.display-5 {
  color: azure;
  font-size: larger;
}

.display-4 {
  color: azure;
  font-weight: bolder;
  text-align: center;
  font-size: 80px;
}

.display-3 {
  font-size: 7rem;
  font-weight: 1000;
  background-image: url("https://images.pexels.com/photos/6985132/pexels-photo-6985132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: colorChange 10s infinite alternate;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(240, 255, 255, 0.267);
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* Tile styles */
.tile {
  width: 200px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #ccc;
  margin: 10px;
  background-color: rgb(35, 47, 58);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  border-radius: 10%;
  position: relative;
}

.tile a {
  text-decoration: none;
}

.tile:hover {
  transform: scale(1.2);
  z-index: 1;
  border-radius: 10% 10% 0px 0px;
  border: none;
  border-top: 4px solid #ccc;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.5);
}

.tile .artist-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info {
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.follower-count {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

/* Additional Info styles */
.additional-info {
  transform: scale(1.045);
  position: absolute;
  top: 96%;
  left: 0;
  width: 100%;
  background-color: rgb(35, 47, 58);
  border: 4px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  display: none;
  box-shadow: inset 0 0 0px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  border-radius: 0 0 10% 10%;
  margin: 0;
  padding: 0;
}

.additional-info .album-image {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.tile:hover .additional-info {
  display: block;
}

.additional-info .latestrelease {
  font-weight: 300;
  font-size: smaller;
}

.additional-info .albumname {
  font-size: medium;
}

/* Text centering and button styles */
.text-center {
  margin-bottom: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.artistsbtn {
  background-image: url("https://images.pexels.com/photos/3826328/pexels-photo-3826328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  font-size: 3rem;
  padding: 20px 30px;
  border-radius: 20%;
  font-weight: 1000;
}

.artistsbtn a {
  color: rgba(240, 248, 255, 0.808);
}

/* New notification styles */
.new-notification {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
.privacy-page {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 8, 75, 1) 14%,
    rgba(103, 55, 121, 1) 100%
  );
}

/* Add space between page title and .raisedbox */
.spacer {
  height: 40px; /* Adjust the height for your desired gap */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.display-4 {
  margin-bottom: 20px; /* Adjust the margin for spacing between title and .raisedbox */
}

.raisedbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.raisedbox {
  height: 500px;
  width: 500px;
  border-radius: 50px;
}

.raisedbox-gray {
  background: rgb(35, 47, 58);
  box-shadow: 20px 20px 40px #262626, -20px -20px 40px #5e5e5e;
}

.raisedbox-text {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
}

.text-white {
  color: white;
}

/* These are the KEY styles - you can add them directly to any object you want in your project */
.colored-shape-one {
  position: fixed;
  border-radius: 45% 55% 12% 88% / 100% 17% 83% 0%;

  /* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
  width: 400px;
  height: 400px;
}

.colored-shape-purple-pink {
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}

.div-pos-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: 0.4;
  translate: 20% 20%;
  background-color: #f0f0f0; /* Background color of the background div */
  z-index: 1; /* Place the background-div behind the foreground-div */
}

.div-pos-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: 0.4;
  translate: 20% 00%;
  background-color: #f0f0f0; /* Background color of the background div */
  z-index: 1; /* Place the background-div behind the foreground-div */
}
.rotate-20 {
  transform: rotate(20deg);
}

.rotate-neg20 {
  transform: rotate(130deg);
}

.div-pos-zero {
  position: relative;
  z-index: 2; /* Place the foreground-div in front of the background-div */
  /* Add other styles for the foreground-div */
}
