@page
@model ArtistsModel
@{
    ViewData["Title"] = "Artists page";


    // Retrieve the artist names and store them in a list

    await Model.Pull_ArtistInfo();


}

<div class="text-center">
    <p>
        @for (int i = 0; i < Model.Get_Artist_Count(); i++)
        {

        <div class="tile">
            <a href=@Model.Get_Artist_URL(i) target="_blank">
                <img src=@Model.Get_Artist_Image(i).url alt="@Model.Get_Artist_Name(i) Profile Image">
                <div class="info display-5">
                    <p class="name">@Model.Get_Artist_Name(i)</p>
                    <span class="follower-count">Followers: @Model.Get_Artist_Followers(i)</span>
                    <div class="additional-info">@await Model.Get_Album_Name(Model.Get_Artist_ID(i))</div>
                </div>
            </a>
        </div>

        }
    </p>
</div>
