@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Keep Track Of The Latest Releases</h1>
  <span class="lightbackground">
    <p class="display-3">Never Miss Out</p>
  </span>

  <p>

  </p>

</div>
