@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Keep Track Of The Latest Releases</h1>
  <p class="display-3">Never Miss Out</p>
  <div class="button-container">

    <p class="artistsbtn"> <a class="text-center" asp-area="" asp-page="/Artists">View
        Artists</a></p>
  </div>


</div>
