@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<html class="privacy-page">

<body class="privacy-page">

    <div class="content-container">

        <h1 class="display-4">@ViewData["Title"]</h1>


        <div class="spacer"></div>

        <div class="colored-shape-one colored-shape-purple-pink div-pos-one rotate-20"></div>
        <div class="colored-shape-one colored-shape-purple-pink div-pos-two rotate-neg20"></div>
        <div class="raisedbox-container">

            <p class="display-5 raisedbox raisedbox-text raisedbox-gray raisedbox-center div-pos-zero text-white">
                Artist Pages does not track
                information
                itself,
                but does use APIs from Microsoft Azure and Spotify, whom may collect user data.</p>

        </div>

    </div>

</body>

</html>
