@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<p class="display-5">I don't collect anything nor do I want to.</p>
<p class="display-5">Spotify may track my API calls.</p>